* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-bold {
	font-weight: bold;
}
.border-radious-8 {
	border-radius: 8px;
}
.text-40 {
	font-size: 40px;
}
